<md-dialog aria-label="Nouveau doctype">
  <form ng-cloak ng-submit="add()" >

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2><span ng-if="!(template.nom || template.id)">Nouveau template</span><span ng-if="(template.nom || template.id)">{{template.nom}}</span></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="close()"><i class="material-icons">close</i></md-button>
      </div>
    </md-toolbar>

    <md-dialog-content class="md-padding">
      <div class="md-block" layout="row">

        <md-input-container class="md-block flex">
          <label>Nom</label>
          <input type="text" ng-model="template.nom" md-maxlength="100" required>
        </md-input-container>

      </div>
      <div layout="row">

        <md-input-container class="md-block flex">
          <label>Type de document</label>
          <md-select ng-model="template.type" placeholder="Choisir un type" required>
            <md-option ng-value="doc.id" ng-repeat="doc in doctypes track by doc.id">{{doc.nom}} ({{doc.var_name}})</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block flex">
          <label>Word Template</label>
          <input type="text" value="{{fileName()}}" placeholder="Choisir un template" style="cursor: pointer;" onclick="$('#HuRJx').click();" onkeypress="$(this).blur(); return false; ">
        </md-input-container>
        <input type="file" nv-file-select uploader="uploader" id="HuRJx" accept=".docx" style="display: none;">

      </div>
      <div layout="row">
          <md-input-container  class="md-block flex">
            <label>Contexte</label>
            <textarea ng-model="template.context"  rows="4" placeholder="##name## = ##variable##;" md-maxlength="200"></textarea>
          </md-input-container>        
      </div>
      <md-progress-linear ng-if="uploader.isUploading" md-mode="determinate" value="{{uploader.progress}}"></md-progress-linear>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="close()">Annuler</md-button>
      <span flex></span>
      <md-button type="submit" ng-disabled="uploader.isUploading || sending">{{uploader.isUploading || sending ? 'Sauvegarde en cours...' : 'Sauvegarder'}}</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>