<md-dialog aria-label="Demander un document">
  <form ng-cloak ng-submit="ask()" >

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Demander un document</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="close()"><i class="material-icons">close</i></md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-block md-padding">
        <h3>Vérifiez ces informations :</h3>
        <p>{{date_start | date:'dd/MM/yyyy'}} au {{date_end | date:'dd/MM/yyyy'}}</p>
        <p>{{etude.fee > 0 ? etude.fee + "€ de frais" : "Frais offerts"}}</p>
        <p>{{n_jeh}} JEH</p>

        <h3>Choissisez votre document :</h3>

        <md-input-container class="md-block flex">
          <label>Type de document</label>
          <md-select ng-model="req.template" placeholder="Choisir un template" required>
            <md-option ng-value="doct.id" ng-repeat="doct in doctemplates | orderBy:'nom' track by doct.id">{{doct.nom}}</md-option>
          </md-select>
        </md-input-container>

        <md-input-container  class="md-block flex">
          <label>Commentaire</label>
          <textarea ng-model="req.com"  rows="4"></textarea>
        </md-input-container>

        <p style="color:red; text-align: center;">{{error}}</p>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="close()">Annuler</md-button>
      <span flex></span>
      <md-button type="submit" ng-disabled="sending">Demander</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>