<?php
	/*
		Compulsory property :
			name
	*/
	// This will be add to every road
	$defaults = array(
		"prefix_name" => "Ed",
		"prefix_url" => "",
		"level" => 1,
	);

	//ROUTES  DES PAGES
	$routes = array(
		array(
			"name" => "Home",
			"pattern" => "",
		),

		array(
			"name" => "Candidater",
			"pattern" => "Candidater/",
		),

		array(
			'name' => 'Edit',
			"pattern" => 'MonProfil/',
		),
	);

	// Merge defaults to every roads
	foreach ($routes as $i => $route) {
		$routes[$i] = array_merge($defaults, $route);
	}

	return $routes;
?>