<?php
	/*
		Compulsory property :
			name
	*/
	// This will be add to every road
	$defaults = array(
		"prefix_name" => "Lydia",
		"prefix_url" => "Lydia/",
		"level" => 0,
	);

	//ROUTES  DES PAGES
	$routes = array(
		array(
			"name" => "test",
		),
	);

	// Merge defaults to every roads
	foreach ($routes as $i => $route) {
		$routes[$i] = array_merge($defaults, $route);
	}

	return $routes;
?>