<?php
	/*
		Compulsory property :
			name
	*/
	// This will be add to every road
	$defaults = array(
		"prefix_url" => "Admin/",
		"level" => 2,
	);

	//ROUTES  DES PAGES
	$routes = array(
		array(
			"name" => "Home",
			"pattern" => "",
		),

		array(
			"name" => "LastEtudes",
			"pattern" => "Etudes/",
		),

		array(
			"name" => "LastInfos",
			"pattern" => "News/",
		),

		array(
			'name' => 'Edit',
			"pattern" => 'Suivi/([0-9]{1,})/?',
			"constructor" => 'Suivi/$1/',
			'method' => 'Edit',
			'vars' => 'id'
		),
		
		array(
			'name' => 'New',
			"pattern" => 'New/',
			"method" => "Edit",
		),
		
		array(
			'name' => 'Quali',
		),
		
		array(
			'name' => 'Clean',
		),
		
		array(
			'name' => 'test',
			'level' => 0,
		),
	);

	// Merge defaults to every roads
	foreach ($routes as $i => $route) {
		$routes[$i] = array_merge($defaults, $route);
	}

	return $routes;
?>