<?php
	/*
		Compulsory property :
			name
	*/
	// This will be add to every road
	$defaults = array(
		"prefix_url" => "Admin/Ajax/",
		"prefix_name" => "AdminAjax",
		"level" => 2,
		"controller" => "Ajax",
	);

	//ROUTES  DES PAGES
	$routes = array(
		array(
			"name" => "LastEtudes",
		),

		array(
			"name" => "LastInfos",
		),

		array(
			"name" => "SaveCom",
		),

		array(
			"name" => "DeleteDocEtude",
		),
	);

	// Merge defaults to every roads
	foreach ($routes as $i => $route) {
		$routes[$i] = array_merge($defaults, $route);
	}

	return $routes;
?>